<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" >
    <head > </head>
    
    <body >
        
			        <!-- ####################
			        	     BEGIN CONTENT
			             #################### -->
			                       <div id="similarityResult" >
	                 	
	                 	<h4>Actual requirement</h4>
	                 	<div class="card">
	                 	<ul class="list-group list-group-flush">
                         <th:block th:each="task, rowStat : ${tasks}">
                         <span th:if="${#strings.equals(task.id, taskId)}">
                         <li class="list-group-item" >
                         	<h6 class="taskTitle" th:text="${task.title}">Task title</h6>
                         	<th:block th:if="${task.getPredictions() != null && task.getPredictions().size() > 0}">
	                            <span th:if="${task.getPredictions().size()} > 1" style="margin-left: 10px;" >Has similarities:</span>
	                         	<span th:if="${task.getPredictions().size()} == 1" style="margin-left: 10px;" >Has similarity:</span><br>
	                         	<th:block th:each="prediction, rowStat : ${task.getPredictions()}">
	                             	<a th:href="@{/apps/{id}/tasks/{taskid} (id=${appId}, taskid=${prediction.id})}" target="_blank">
	                             		<small style="margin-left: 20px;" th:text="${prediction.title}" >title</small><br>
	                           		</a>
	                             </th:block>
                         	</th:block>
                         
                         </li>
                         </span>
                     	</th:block>
 						</ul>
	                 	</div>
	                 	
	                 	
	                 	<h4>All requirements</h4>
	                 	<div class="card">
                         <ul class="list-group list-group-flush">
                         <th:block th:each="task, rowStat : ${tasks}">
                         <li class="list-group-item" th:if="${!#strings.equals(task.id, taskId)}">
                         
                         	<a th:href="@{/apps/{id}/tasks/{taskid} (id=${appId}, taskid=${task.id})}" target="_blank">
                         		<h6  th:text="${task.title}">Task title</h6>
                         	</a>
                         	
                         	<th:block th:if="${task.getPredictions() != null && task.getPredictions().size() > 0}">
	                      		<span th:if="${task.getPredictions().size()} > 1" style="margin-left: 10px;" >Has similarities:</span>
	                         	<span th:if="${task.getPredictions().size()} == 1" style="margin-left: 10px;" >Has similarity:</span><br>
	                         	<th:block th:each="prediction, rowStat : ${task.getPredictions()}">
	                         		<span th:if="${prediction.id != 0}">
		                             	<a th:href="@{/apps/{id}/tasks/{taskid} (id=${appId}, taskid=${prediction.id})}" target="_blank">
		                             		<small style="margin-left: 20px;" th:text="${prediction.title}" >title</small><br>
		                           		</a>
	                           		</span>
	                           		<span th:unless="${prediction.id != 0} ">
	                           			<small class="taskTitle" style="margin-left: 20px;" th:text="${prediction.title}" >title</small><br>
                           			</span>
	                             </th:block>
                         	</th:block>
                         	
                             
                         </li>
                     </th:block>
 						</ul>
 						</div>
                     </div>
 					<!-- ####################
			        	      END CONTENT
			             #################### -->
	  </body>
</html>